body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.clock {
  font-size: 3rem;
  display: flex;
}

.digit {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}